<div class="container">

    <div ng-if="isAuthenticated() && currentUser.username">
        <div class="row">
            <div ng-repeat="project in projects" class="col-lg-2 col-sm-3 col-xs-4">
                <a href="#/project/{{project.id}}">
                    {{ project.name }}
                </a>
            </div>
        </div>
    </div>

    <div ng-if="!isAuthenticated()">
        <div class="jumbotron">
            <h2><i class="fa fa-github"></i> Project Manager</h2>
            <p>This is a project manager powered by <strong>Github</strong>. To continue, please log in with your Github account or create a new email account.</p>
            <p>
                <a class="btn btn-lg btn-success" href="#/login"><i class="fa fa-sign-in"></i> Log in</a>
                <a class="btn btn-lg btn-primary" href="#/signup"><i class="fa fa-user-plus"></i> Sign up</a>
            </p>
        </div>
    </div>

    <div ng-if="isAuthenticated() && !currentUser.created_from_oauth" class="center-form panel">
        <div class="panel-body">
            <h5 class="text-center"><i class="fa fa-link"></i> Link Account</h5>
            <p>To complete the registration process you must link your Github account.</p>
            <button class="btn btn-block btn-primary" ng-click="linkGithub()">
                <i class="fa fa-github"></i> Sign in with Github
            </button>
        </div>
    </div>

</div>